.header {
  display: flex;
  padding: 2rem 4rem;
  justify-content: space-between;
  align-items: flex-start;
}

.theme-button {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: 61px;
  background-color: rgba(0, 0, 0, 0);
  color: #6809e1;
  border-color: #6809e1;
  font-weight: bold;
  height: 2rem;
}

.dark-theme-button {
  border-color: #ffffff;
  color: #ffffff;
}
