.results-section {
  background-color: #e7e7e7;
  margin: 0;
  border: none;
  padding: 2rem 1rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.dark-results-section {
  background-color: #212121;
}

.gif-element {
  width: 30%;
  margin-bottom: 1rem;
}
